.App {
  /*text-align: center;*/
  vertical-align: top;
}

.App::after {
  clear: both;
  margin: 0 auto;
}

#tasks, #users {
  width: 400px;
  padding: 10px;
  border: 1px solid blue;
  box-shadow: black 5px;
  float: left;
}

ul {
  padding: 2px;
}

li {
  list-style: none;
  text-align: left;
  background-color: lightgrey;
  margin:1px;
  padding: 2px;
}